:root {
  --accent: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --card-background: hsl(0, 0%, 20%);
  --link-background: hsl(0, 0%, 12%);
  --background: hsl(0, 0%, 8%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Inter";
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
